@media only screen and (max-width: 1200px) {
	header {
		padding-bottom: 180px;
	}

	.container {
		max-width: 980px;
	}

	header nav a span,
	footer nav a span {
		font-size: 60px;
		line-height: 50px;
	}

	header nav a address,
	footer nav a address {
		font-size: 16px;
	}

	header nav a:before,
	footer nav a:before {
		width: 230px;
		height: 20px;
	}

	header h1 {
		font-size: 90px;
		line-height: 65px;
		letter-spacing: -7px;
	}

	.portfolioCases .cases:nth-child(2n+1) {
		margin-left: 115px;
	}

	.portfolioCases .cases:nth-child(2n+2) {
		margin-right: 0;
	}

	.aboutMe {
		font-size: 16px;
		padding-bottom: 120px;
		padding-top: 0;
	}

	.aboutMe .description {
		max-width: 390px;
		margin-right: 75px;
	}

	.aboutMe .description p:first-child {
		margin-bottom: 35px;
	}

	.cooperation h2 {
		font-size: 36px;
	}
}