* {
	margin: 0;
	padding: 0;
}

header {
	background-color: #014F5C;
	padding-top: 65px;
	padding-bottom: 200px;
	position: relative;
	
	overflow: hidden;
	/*height: 3000px;*/
}

header:after, .cases:after {
	content: '';
	display: block;
	position: absolute;
	background-color: rgba(255,255,255,.05);
	left: 25%;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: skew(-45deg);
	    -ms-transform: skew(-45deg);
	        transform: skew(-45deg);
	-webkit-transform-origin: left bottom;
	    -ms-transform-origin: left bottom;
	        transform-origin: left bottom;
	padding-right: 100%;
}

.cases:after {
	z-index: -1;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

header nav,
footer nav {
	margin-bottom: 50px;
}

header nav a,
footer nav a {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	padding-left: 5px;
	position: relative;
	z-index: 2;
}

header nav a:before,
footer nav a:before {
	content: '';
	display: block;
	position: absolute;
	height: 30px;
	width: 277px;
	left: 0;
	top: 20px;
	background-color: #CC3366;
	z-index: -1;
	

	-webkit-animation: typea 2s ease-out;
	

	        animation: typea 2s ease-out;
	
	
}

header nav a span,
footer nav a span {
	font-family: 'AmaticSC', sans-serif;
	font-size: 72px;
	color: #fff;
	text-transform: uppercase;
	line-height: 58px;
	width: 182px;
	overflow: hidden;
	white-space: nowrap;
	animation: type 1s steps(20, end);
	-webkit-animation: type 1s steps(20, end);
	display: inline-block;
}

@-webkit-keyframes type{
	from {width: 0;}
}

@keyframes type{
	from {width: 0;}
}

@-webkit-keyframes typea{
	0%, 50% {width: 0;}
	50%, 100% {-webkit-animation-delay: 1s;animation-delay: 1s; }
}

@keyframes typea{
	0%, 50% {width: 0;}
	50%, 100% {-webkit-animation-delay: 1s;animation-delay: 1s; }
}

header nav a address,
footer nav a address {
	font-family: 'MontserratAlternates', sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	font-style: normal;
	width: 18em;
	overflow: hidden;
	white-space: nowrap;
	animation: type 2s steps(50, end);
	-webkit-animation: type 2s steps(50, end);
}

.mainMessage {
	margin: 0 auto;
	text-align: center;
}

header h1 {
	font-family: 'MontserratAlternates', sans-serif;
	font-size: 120px;
	color: transparent;
	background-image: url(../img/mainMessage.jpg);
	background-size: cover;
	background-position: center;
	background-clip: text; 
	-webkit-background-clip: text; 
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: -10px;
	line-height: 86px;
	display: inline-block;
	text-align: left;
	padding-right: 10px;
	opacity: 1;
	-webkit-animation: fadeIn 2s ease-out;
	        animation: fadeIn 2s ease-out;
	-moz-animation: fadeIn 2s ease-out;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes fadeIn{
	0% {-webkit-transform: translate(-30px);transform: translate(-30px);}
	100% {-webkit-transform: translate(10px);transform: translate(10px);}
}

@keyframes fadeIn{
	0% {-webkit-transform: translate(-30px);transform: translate(-30px);}
	100% {-webkit-transform: translate(10px);transform: translate(10px);}
}

.portfolioCases {
	background-color: #F2F2F2;
	position: relative;
}

.portfolioCases .cases {
	width: 360px;
	height: 275px;
	border-radius: 5px;
	background-color: #147B91;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.5);
	        box-shadow: 2px 2px 5px 0 rgba(0,0,0,.5);
	float: left;
	margin-right: 30px;
	margin-bottom: 100px;
	margin-top: -50px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-animation: fadeInTop 1s ease both;
	        animation: fadeInTop 1s ease both;
	-webkit-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
	top: 0;
}

.portfolioCases .cases:hover {
	top: -20px;
}

.portfolioCases .cases:nth-child(1) {
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}

.portfolioCases .cases:nth-child(2) {
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}

.portfolioCases .cases:nth-child(3) {
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}

.portfolioCases .cases:nth-child(4) {
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
}

.portfolioCases .cases:nth-child(5) {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}

.portfolioCases .cases:nth-child(6) {
	-webkit-animation-delay: 2.5s;
	        animation-delay: 2.5s;
}

@-webkit-keyframes fadeInTop {
	0% {opacity: 0;-webkit-transform: translate(0, 100px);transform: translate(0, 100px);}
	100% {opacity: 1;-webkit-transform: translate(0, 0px);transform: translate(0, 0px);}
}

@keyframes fadeInTop {
	0% {opacity: 0;-webkit-transform: translate(0, 100px);transform: translate(0, 100px);}
	100% {opacity: 1;-webkit-transform: translate(0, 0px);transform: translate(0, 0px);}
}

.portfolioCases .cases .portfolioCaseWork {
	display: block;
	width: 300px;
	height: 170px;
	z-index: 5;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100%;
	margin: 34px 0 0 30px;
}

.portfolioCases .cases:nth-child(1) .portfolioCaseWork {
	background-image: url(../img/portfolioCase1.png);
}

.portfolioCases .cases:nth-child(2) .portfolioCaseWork {
	background-image: url(../img/portfolioCase2.png);
	background-position: center -257px;
}

.portfolioCases .cases:nth-child(3) .portfolioCaseWork {
	background-image: url(../img/portfolioCase3.png);
	background-position: center -100px;
}

.portfolioCases .cases:nth-child(4) .portfolioCaseWork {
	background-image: url(../img/portfolioCase4.png);
}

.portfolioCases .cases:nth-child(5) .portfolioCaseWork {
	background-image: url(../img/portfolioCase5.png);
}

.portfolioCases .cases:nth-child(6) .portfolioCaseWork {
	background-image: url(../img/portfolioCase6.png);
}

.portfolioCases .cases .portfolioCaseWork:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../img/iMac.png);
	background-size: 326px;
	background-position: center bottom;
	background-repeat: no-repeat;
	z-index: 10;
}

.portfolioCases .cases .portfolioCaseWork:before {
	content: '';
	text-align: center;
	line-height: 170px;
	color: #fff;
	display: block;
	position: absolute;
	width: 300px;
	height: 170px;
	top: 33px;
	left: 29px;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	transition: .2s ease-out;
	border-radius: 5px;
	background-image: url(../img/eye.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;

}

.portfolioCases .cases:hover .portfolioCaseWork:before {
	background-color: rgba(0,0,0,.8);
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

.portfolioCases:after, .cooperation:after {
	content: '';
	display: block;
	clear: both;
}

/*---------------------------------------------------*/

.aboutMe {
	padding-top: 50px;
	background-color: #F2F2F2;
	padding-bottom: 140px;

	color: #000;
	font-size: 18px;
	font-family: 'MontserratAlternates', sans-serif;
	font-weight: normal;
}

.aboutMe .description p:first-letter {
	color: #cc3366;
}
.aboutMe .description p:first-child {
	margin-bottom: 50px;
}

.aboutMe .container {
	text-align: center;
}

.aboutMe .description, .aboutMe .myContacts {
	/*float: left;*/
	display: inline-block;
	text-align: left;
}

.aboutMe .description {
	max-width: 455px;
	margin-right: 130px;
}

.aboutMe .myContacts {
	vertical-align: top;
	font-style: normal;
}

.aboutMe .myContacts span {
	letter-spacing: 3px;
	display: inline-block;
	width: 150px;
	margin-right: 30px;
	margin-bottom: 20px;

	background-position: right center;
	background-size: 18px;
	background-repeat: no-repeat;
}

.aboutMe .myContacts span:nth-child(1) {
		background-image: url(../img/man.png);
}

.aboutMe .myContacts span:nth-child(3) {
		background-image: url(../img/post.png);
}

/*---------------------------*/

.cooperation {
	background-color: #F2F2F2;
}

.cooperation h2 {
	color: #000;
	font-size: 48px;
	text-align: center;
	font-family: 'MontserratAlternates', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 100px;
}

.big-container {
		float: left;
		margin-right: 125px;
		margin-bottom: 65px;
		width: 265px;
		position: relative;
}

.big-container:nth-child(4),
.big-container:nth-child(5) {
	float: right;
}

h3 {
	color: #000;
	font-size: 18px;
	font-family: 'MontserratAlternates', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 20px;
}

.big-container p {
	color: #000;
	font-size: 14px;
	font-family: 'MontserratAlternates', sans-serif;
	font-weight: normal;
	text-align: center;
	line-height: 24px;
} 

.icon-container {
		height: 265px;
		width: 265px;
		background-color: #eaeaea;
		-webkit-box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,.25);
		        box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,.25);
		border-radius: 5px;
		position: relative;
		margin-bottom: 50px;
		/*overflow: hidden;*/
	}

	.icon-container .ob {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.icon-container:before {
		content: '';
		height: 35px;
		width: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #004a66;
		position: absolute;
		left: -5px;
		top: 115px;
	}

	.icon-container:after {
		content: '';
		height: 35px;
		width: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: #004a66;
		position: absolute;
		right: -5px;
		top: 115px;
	}

	.image-container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		
		background-repeat: no-repeat;
		background-position: center;
		background-size: 265px;
		/*-webkit-transition: -webkit-transform .2s ease-out;
		transition: -webkit-transform .2s ease-out;
		-o-transition: transform .2s ease-out;
		transition: transform .2s ease-out;
		transition: transform .2s ease-out, -webkit-transform .2s ease-out;*/
	}
/*-----1-----*/
	.big-container:nth-child(1) .image-container.first {
		background-image: url(../img/startFirst1.png);
	}

	.big-container:nth-child(1) .image-container.second {
		background-image: url(../img/startSecond1.png);
	}

	.big-container:nth-child(1) .image-container.third {
		background-image: url(../img/startThird1.png);
	}

	/*----2-----*/

	.big-container:nth-child(2) .image-container.first {
		background-image: url(../img/protFirst1.png);
	}

	.big-container:nth-child(2) .image-container.second {
		background-image: url(../img/protSecond1.png);
	}

	.big-container:nth-child(2) .image-container.third {
		background-image: url(../img/protThird1.png);
	}

		/*----3-----*/

	.big-container:nth-child(3) .image-container.first {
		background-image: url(../img/createFirst.png);
	}

	.big-container:nth-child(3) .image-container.second {
		background-image: url(../img/createSecond.png);
	}

	.big-container:nth-child(3) .image-container {
		background-size: 200px;
    background-position: 55px -70px;
	}

	/*----4-----*/

	.big-container:nth-child(4) .image-container.first {
		background-image: url(../img/paymentFirst.png);
	}

	.big-container:nth-child(4) .image-container.second {
		background-image: url(../img/paymentSecond.png);
	}

	.big-container:nth-child(4) .image-container.third {
		background-image: url(../img/paymentThird.png);
	}

	/*----5-----*/

	.big-container:nth-child(5) .image-container.first {
		background-image: url(../img/finishFirst.png);
	}

	.big-container:nth-child(5) .image-container.second {
		background-image: url(../img/finishSecond.png);
	}

	.big-container:nth-child(5) .image-container.third {
		background-image: url(../img/finishThird.png);
	}

		.big-container:nth-child(5) .image-container {
		background-size: 200px;
    /*background-position: 55px -70px;*/
	}

	.big-container:before {
		content: '';
		display: block;
		position: absolute;
		width: 120px;
		height: 4px;
		left: 100%;
		top: 131px;
		background-color: #CC3467;
	}

	.big-container:nth-child(3):before {
		width: 105px;
		height: 220px;
		background-color: transparent;
		border-top: 4px solid #CC3467;
		border-right: 4px solid #CC3467;
		border-top-right-radius: 5px;
	}

	.big-container:nth-child(4):before {
		top: -169px;
		width: 105px;
		height: 300px;
		background-color: transparent;
		border-bottom: 4px solid #CC3467;
		border-right: 4px solid #CC3467;
		border-bottom-right-radius: 5px;
	}

	.big-container:nth-child(5):before {
		left: -60px;
		width: 445px;
	}

	.big-container .decorAnimation {
		width: 100px;
		height: 35px;
		box-shadow: 1px 1px 2px 2px rgba(0,0,0,.25);
		border-radius: 5px;
		background-image: url(../img/decor1.png);
		background-position: 0 0;
		background-size: 70px;
		animation: decor 3s infinite linear;

		position: absolute;
		right: -112px;
		top: 115px;
		z-index: 10;
	}

	.big-container .decorAnimation:before {
		top: 0;
		left: 0;
		position: absolute;
		content: '';
		height: 35px;
		width: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #F8DA14;
	}

	.big-container .decorAnimation:after {
		top: 0;
		right: 0;
		position: absolute;
		content: '';
		height: 35px;
		width: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: #F8DA14;
	}

	.big-container:nth-child(3) .decorAnimation {
		transform: rotate(90deg);
		bottom: 40px;
		top: auto;
		right: -156px;
		
	}

	.big-container:nth-child(4) .decorAnimation,
	.big-container:nth-child(5) .decorAnimation {
		transform: rotate(180deg);
		left: -112px;
		right: auto;
	}

	@keyframes decor {
		100% {
			background-position: 70px 0;
		}
	}

	/*------------------------Advantage*/

	.advantage {
		background-color: #014F5C;
		padding-top: 140px;
		padding-bottom: 150px;
	}

	.advantage h3 {
		color: #fff;
		min-height: 50px;
	}

	.advantage h2 {
		color: #fff;
		font-size: 48px;
		text-align: center;
		font-family: 'MontserratAlternates', sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 90px;
	}

	.advantage h2 span {
		color: #f8da14;
	}

	.advantage .container {
		text-align: center;
	}
	
	.advantages-container {
		margin: 0 auto;
		display: inline-block;
	}
	.advantages-container:after {
		content: '';
		display: block;
		clear: both;
	}
	
	.advantages {
		float: left;
		width: 360px;
		text-align: center;
		margin: 0 15px;
	}

	.advantages {
		color: #fff;
	font-size: 14px;
	font-family: 'MontserratAlternates', sans-serif;
	font-weight: normal;
	text-align: center;
	line-height: 24px;
	}

	/*--------------foter*/

	footer {
		background-color: #093238;
		color: #fff;
		padding-top: 50px;
		padding-bottom: 10px;
		font-size: 14px;
	font-family: 'MontserratAlternates', sans-serif;
	font-weight: normal;
	}

	footer .container {
		position: relative;
	}

	.copywrite {
		text-align: center;
		display: block;
		font-size: 10px;
		font-style: normal;
		color: #999;
		
	}

	.my-post {
		position: absolute;
		right: 15px;
		top: 50px;
		margin-bottom: 50px;
	}